@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
  h1 {
    font-family: "DM Mono", monospace;
  }
  h3 {
    font-family: "Lora", serif;
  }
} */

body,
html,
#root {
  height: 100%;
  margin: 0;
}

.main-container {
  background: linear-gradient(rgba(0, 0, 0, 0.001), rgba(0, 0, 0, 0.002)),
    url("./images/hd-sea.jpg");
  background-size: cover;
  background-position: center;
}
